@import "node_modules/ol/ol.css";

html, body {
  margin: 0;
  height: 100vh;
  font-family: Comfortaa;
}
#wrapper {
  margin:0;
  display: flex;
  width:100%;
  background-color: black;
  height: 100vh;
}
#map {
  width: calc(100% - 385px);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  transition: all 0.5s;
  height: 100vh;
  text-align: center;
}

/* business list styles */
#list {
  display: block;
  padding-left: 10px;
  height: 100vh;
  width:355px;
  visibility: visible; 
  transition: all 0.5s;
  left: 0px;
}
#mta_logo > img {
  width:98%;
  /* height:10% */
} 
#groups {
  height: 90%; 
  overflow-y: auto;
  margin-bottom: 0;
}
span {
  color: #f6921b;
}
.regions {
  font-weight: bold;
  font-size: x-large;
}
.closed {
  display: none;
}
.open {
  display: block;
}
li {
  list-style-type: none;
  padding-top: .2em;
  padding-bottom: .2em;
  font-size: medium;
}
a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  color: #8e8d8d;
}
.regions > a > span:hover {
  color:red;
}
.business:hover {
  color:#f6921b;
}

/* styles for business info pane */
#feature-list {
  display: none;
  padding-left: 10px;
  height: 100vh;
  width:355px;
  visibility: visible; 
  transition: all 0.5s;
  left: 0px;
}
#feature-content {
  height: 100vh;
}
#companyIcon {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#feature-content > h1 {
  color: #f6921b;
  display:block;
  text-align: center;
  width: 100%;
  
}
#attributes {
  width: 100%;
  height: 70%;
  display: inline-block;
  color:#8e8d8d;
  overflow-y: auto;
}
table {
  width: 100%;
  table-layout: fixed;
}
tr {
  width: 100%;
}
th {
  text-align: right;
  text-transform: uppercase;
  vertical-align: top;
  width: 30%;
  padding: 0 1em 1em .5em;
  font-size: 0.9em;
}
td {
  display: block;
  padding-bottom: 1em;
  font-size: 0.9em;
}
#website-innerValue {
  color: red;
  text-decoration: underline;
}
#email-innerValue{
  color: #f6921b;
  /* word-wrap: break-word; */
  word-break: break-all; 
}
#phone-innerValue{
  color: #f6921b;
}
.hidden {
  display: none;
}
.tags {
  color: black;
  background-color:#8e8d8d ;
  border-color: #8e8d8d;
  border-radius: 0.5em;
  padding: 0.2em 0.3em 0.3em 0.3em;
  margin: 0.1em;
  font-size: 1em;
}
/* styles for switching panes */
#feature-closer {
  float: right;
  cursor: pointer;
}
.close {
  font-size: 45px;
  font-weight: 600;
}
.no-list #list-container {
  display: none;
}   
.no-list #map {
  width: calc(100% - 20px);
}   
#list-toggle {
  display:flex;
  height: auto;
  justify-content: center;
  width:20px;   
  background-color: black; 
}    
#list-toggle > div {
  margin:auto;
  width: 50%;
  color: red;
  font-size:xx-large;
  cursor: pointer;
}

/* popup styles */
.ol-popup {
  position: absolute;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 280px;
}
.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}
.ol-popup-closer:after {
  content: "✖";
}
#popup-content {
  overflow-y: auto;
  max-height: 300px;
  margin-top: 0px;
  padding-left: 0px;
}
#popup-content > h3 {
  margin-top: 0px;
  margin-bottom: 10px;
}
#popup-content > h5 {
  margin-top: 10px;
  margin-bottom: 10px;
}
/* .rotate-north {
  top: 65px;
  left: .5em;
}
.ol-touch .rotate-north {
  top: 80px;
} */
.button {
 margin: auto;
}
ul li{
  cursor:pointer;
}