@import "node_modules/ol/ol.css";
@import './style1.css';
/* Style reset */
html, body, div, span, applet, object, iframe,
/*h1, h2, h3, h4, h5, h6, */p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */ 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
/* * {
  box-sizing: border-box;
} */
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
} 
select:focus {
  outline: none;
  box-shadow: 0 0 5px #333;
}
.button {
 margin: auto;
 border-radius: 5px;
}
/* Styles */
html, body {
  margin: 0;
  height: 100vh;
  font-family: Comfortaa;
  color: #8e8d8d;
  overflow: hidden;
}
.hidden {
  display: none;
}
#wrapper {
  margin:0;
  display: flex;
  width:100%;
  background-color: black;
  height: 100vh;
  line-height: 1.3em;
}
#map {
  width: calc(100% - 385px);
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  transition: all 0.5s;
  height: 100vh;
  text-align: center;
}
/* business list styles */
#list {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  height: 100vh;
  width:355px;
  visibility: visible; 
  transition: all 0.5s;
  left: 0px;
  line-height: 1.125em;
}
#mta_logo {
  display: flex;
  left: 0;
  right: 0;
  margin: 0.75em auto 0 auto;
}
#mta_logo > a > img {
  width:98%;
} 
#groups {
  overflow-y: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}
span {
  color: #f6921b;
}
.regions {
  font-weight: bold;
  font-size: x-large;
}
.closed {
  display: none;
}
.open {
  display: block;
}
ul {
  margin-top: 0.25em;
  padding-left: 1.75em;
}
li {
  list-style-type: none;
  padding-top: .2em;
  padding-bottom: .2em;
  font-size: medium;
}
a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  color: #8e8d8d;
}
.regions > a > span:hover {
  color:#EC2034;
}
.business {
  color: #8e8d8d;
}
.business:hover {
  color:#f6921b;
}
/* styles for business info pane */
#feature-list {
  display: none;
  padding-left: 10px;
  height: 100vh;
  width:355px;
  visibility: visible; 
  transition: all 0.5s;
  left: 0px;
}
#feature-content {
  display:flex;
  flex-direction: column;
  height: 100vh;
}
#companyIcon {
  display: block;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
}
#feature-content > h1 {
  margin-bottom: 0.2em;
  line-height: 1.2em;
  color: #f6921b;
  height:fit-content;
  text-align: center;
  width: 100%;
}
#attributes {
  width: 100%;
  height: 100%;
  display: inline-block;
  color:#8e8d8d;
  overflow-y: auto;
}
table {
  width: 100%;
  table-layout: fixed;
}
tr {
  width: 100%;
}
th {
  text-align: right;
  text-transform: uppercase;
  vertical-align: top;
  width: 30%;
  padding: 0 1em 0.5em .5em;
  font-size: 0.9em;
}
td {
  display: block;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
  font-size: 0.9em;
}
#website-innerValue {
  color: #EC2034;
  text-decoration: underline;
}
#email-innerValue{
  color: #f6921b;
  /* word-wrap: break-word; */
  word-break: break-all; 
}
#phone-innerValue{
  color: #f6921b;
}
.tags {
  color: black;
  background-color:#8e8d8d ;
  border-color: #8e8d8d;
  border-radius: 0.5em;
  border-style: solid;
  padding: 0.2em 0.3em 0.3em 0.3em;
  margin: 0.1em;
  font-size: 1em;
  /* cursor: pointer; */
}
/* .tags.active {
  background-color: #f6921b;
  color: black;
  font-weight: bold;
  border-color: #f6921b;
} */
/* styles for switching panes */
.close {
  display: block;
  position: absolute;
  color: #f6921b;
  background-color: black;
  border: none;
  top: 8px;
  left: 340px;
  font-size: 30px;
  font-weight: 600;
  text-align: right;
  cursor: pointer;
}
.no-list #list-container {
  display: none;
}   
.no-list #map {
  width: calc(100% - 20px);
}   
#list-toggle {
  display:flex;
  height: auto;
  justify-content: center;
  width:20px;   
  background-color: black; 
}    
#list-toggle > div {
  margin:auto;
  width: 50%;
  color: #EC2034;
  font-size:xx-large;
  cursor: pointer;
}
/* popup styles */
.ol-popup {
  position: absolute;
  color:#8e8d8d;
  background-color: black;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #8e8d8d;
  bottom: 12px;
  left: -50px;
  min-width: 280px;
  box-shadow: 5px 5px 5px  #8e8d8d;
}
.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: black;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: black;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}
.ol-popup-closer:after {
  color:#f6921b;
  content: "✖";
}
#popup-content {
  overflow-y: auto;
  max-height: 300px;
  margin-top: 7px;
  margin-bottom: 0px;
  padding-left: 0px;
}
#popup-content > h2 {
  color:#f6921b;
  margin-top: 4px;
  margin-bottom: 0.5em;
  margin-right: 4px;
  line-height: 1.3em;
}
#popup-content > h5 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-right: 4px;
  font-weight: 575;
}
hr.rounded {
  border-top: 0.15em solid #f6921b;
  border-radius: 0.2em;
}
#popup-website > a {
  text-decoration: underline;
  color: #EC2034;
}
#popup-email > a, #popup-phone > a {
  color: #f6921b;
}
/* Land Inventory Popup Styles */
.landInv {
  background-color: black;
  color: #8e8d8d;
  text-align: left;
}
/* ol controls styles */
/* .search-bar{
  top: 0.5em !important;
  left: 2em;
  height: 1.7em;
  width : 10em;
  border-radius: 5px;
} */
/* .ol-zoom-extent {
  top: 4.5em !important;
  background-image: url(https://marktrueman.ca/wp-content/uploads/2023/02/home_icon.png) !important;
  border-radius: 5px;
  background-position: center center !important;
  background-size: 20px !important;
  background-repeat: no-repeat !important;
  background-color: none !important;
} */
/* .feature {
  left: 2em;
  height: 2.3em;
  width: 26em; 
  top: 0.5em;
  margin: auto;
  z-index: 9;
}
.search {
  left: 2em;

  top: 0.5em;

  z-index: 9;
}   */
/* div.tag-dropdown-toggle {
  left: 3em !important;
  top: 0.5em !important;
  background-color: #8e8d8d !important;
  width: 10em;
  border-radius: 5px;
} */
/* #filter-butns-wrapper {
} */
#top-button-bar {
  position: absolute;
  display: flex;
  justify-content: center;
  gap: 0.5em;
  left: 3em;
  right: 3em;
  padding-left: 0em;
  height: 2.3em;
  width: 75%; 
  top: 0.5em;
  z-index: 9;
  
}
#search-container {
  justify-content: left;
  max-width: 13em;
  min-width: 5em;
  top: 0.6em;
  z-index: 10;
}
#tag-filter-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5em;
  right: 5em;
  height: 2.3em;
  width: 100%; 
  top: 0.5em;
  z-index: 9;
  
}
#tag-dropdown-select {
  order: 2;
  margin: 0;
  border: #f6921b solid 2px;
  border-radius: 5px;
  padding: 0 0 0 0.4em;
  max-width: 13em;
  font-weight: bold;

}
.top-buttons {
  z-index: 6;
  color: #8e8d8d;
  width: 8.5em;
  height: fit-content;
  background-color: black;
  border: 2px solid #8e8d8d;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.8em;
  border-radius: 5px;
}
#filter-button {
  order: 1;
  border: #EC2034 solid 2px;
} 
#tag-filter-clear {
  order: 3;
}
.tagSelected {
  color:#f6921b;
}
/* select option[value=""][disabled] {
  color: #f6921b; 
}*/

/* Layer Switcher Styles */
div.ol-unselectable:nth-child(5) {
  top: 1.5em !important;
  right: 0.9em;
}
.layer-switcher button {
  display: block;
  margin: auto;
  background-image: url('https://marktrueman.ca/wp-content/uploads/2022/12/layerSwitcher_blk_sm.png') !important;
  background-position: center center !important;
  background-color: black !important;
  border-radius: 5px !important;
  border: 1px solid #8e8d8d !important;
  background-size: 34px;
}
.layer-switcher .panel {
  position: relative !important;
  border-color: black !important;
  background-color: black !important;
  color: #8e8d8d !important;
  z-index: 10 !important;
  border-radius: 5px !important;
  max-width: 300px;
}
/* li.group:nth-child(1) > label:nth-child(2) {
  color: #f6921b;
} */
li.group:nth-child(3) > label:nth-child(1) {
  color: #EC2034;
}
/* li.group:nth-child(2) > label:nth-child(1) {
  color: #f6921b;
} */
/* Radio element, when checked */
input[type="radio"]:checked {
  accent-color: #f6921b;
}
/* Checkbox element, when checked */
input[type="checkbox"]:checked {
  accent-color: #f6921b;
}
ul li{
  cursor:pointer;
}

/* *** Filter Styles *** */
.values {
  display: none;
}
#form {
  width: 85%;
  margin: 0 auto;
  padding: 20px;
}
/* Label styles */
label {
  font-size: 1.2em;
  color: #f6921b;
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}
/* Select styles */
select {
  width: 100%;
  color: #8e8d8d;
  background-color: black;
  padding: 12px 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
#value {
  color: #8e8d8d;
  background-color: black;
}
.numberInput {
  margin-bottom: 1em
}
.filter-btn {
  color: black;
  background-color: #8e8d8d;
  border: none;
  border-radius: 4px;
  padding: 0.5em;
  margin: 1em 0;
}
#filter-pane {
  display: none;
  padding-left: 10px;
  height: 100vh;
  width:355px;
  visibility: visible; 
  transition: all 0.5s;
  left: 0px;
  overflow-y: auto;
}
#filter-pane > h1 {
  color: #f6921b;
  line-height: 1.5em;
}
/* splash screen styles */
#utilization {
  padding: 0;
  display: none;
  position: absolute;
  color: black;
  background-color: #8e8d8d;
  top: 50%;
  left: 50%;
  width: 500px;
  height: fit-content;
  overflow-y: auto;
  transform: translate(-50%, -50%);
  border-radius: 4px;
}
#uti-content {
  position:relative;
  padding: 1em;
}
#uti-content > h4 {
  margin: 0 0 10px 0;
  text-align: center;
}
#uti-content > ul {
  list-style-type: decimal;
}
#uti-content > li {
  padding-left: 10px;
}
#uti-closer {
  position: absolute;
  top: 0;
  left: 93%;
  background-color: #8e8d8d;
}
#right-button-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 38px;
  height: 94px;
  right: 0.9em;
  top: 5em;
  gap: 18px;
}
.right-panel-btn {
  background-color: black;
  background-position: center; 
  border: 1px solid #8e8d8d;
  cursor: pointer;
  width: 38px;
  height: 38px;
  border: none;
  border-radius: 5px;
  z-index: 6;
}
#uti-button {
  display: block;
  border: 1px solid #8e8d8d;

  background-image: url(https://marktrueman.ca/wp-content/uploads/2023/01/info_icon_org.png);
  background-size: 32px; 
  background-repeat: no-repeat;
}
/* legend styles */
#legend-button {
  display: block;
  border: 1px solid #8e8d8d;
  background-image: url(https://marktrueman.ca/wp-content/uploads/2023/01/legend_icon_red.png);
  background-size: 28px; 
 
  background-repeat: no-repeat;

}
#legend-wrapper {
  position:absolute;
  right: 0.9em;
  bottom: 3em;
  color: #8e8d8d;
  background-color: black;
  max-width: 7.4em;
  max-height: 20em;
  border-radius: 5px;
  box-shadow: 3px 3px 3px  #8e8d8d;
  border: 1px solid #8e8d8d;
}
#legend {
  position: relative;
  padding: 0.7em;
  overflow-y: auto;
}
#legend > h5 {
  line-height: 1.5em;
  margin: 0;
  padding: 10px 0 5px 0;
  color:#f6921b;
}
#legend-closer {
  color:#EC2034;
  font-size: 20px;
  position: absolute;
  top: -2px;
  left: 75%;
  background-color: black;
}
/* Slider styles */
#transparency {
  position: absolute;
  bottom: 1em;
  left: 43%;
  right: 43%;
  z-index: 10;
  max-width: fit-content;
  min-width: fit-content;
}
#transparency > label {
  font-size: 0.9em;
  margin: 0;
}
input[type=range] {
  -webkit-appearance: none;
  margin:  0;
  width: 100%;
  background: transparent;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #f6921b;
  border-radius: 5px;
  border: 0px solid #000101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 10px;
  width: 20px;
  border-radius: 5px;
  background: #EC2034;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.6px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #f6921b;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  /* animate: 0.2s; */
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #f6921b;
  border-radius: 5px;
  border: 0px solid #000101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 10px;
  width: 20px;
  border-radius: 5px;
  background: #EC2034;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  /* animate: 0.2s; */
  background: transparent;
  border-color: transparent;
  border-width: 39px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #f6921b;
  border: 0px solid #000101;
  border-radius: 5px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #f6921b;
  border: 0px solid #000101;
  border-radius: 5px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 10px;
  width: 20px;
  border-radius: 5px;
  background: #EC2034;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #f6921b;
}
input[type=range]:focus::-ms-fill-upper {
  background: #f6921b;
}
/* Style the scrollbar background */
::-webkit-scrollbar {
  background: black;
}
/* Style the scrollbar handle */
::-webkit-scrollbar-thumb {
  background: #8e8d8d;
}

/* ************* Media Queries ************** */
@media screen and (max-width: 1024px) { 
  /* styles to be applied when the screen width is 768px or less (tablet-landscape) */
  /* body {
    font-size: 14px;
  } */
  /* .top-buttons {
    flex-grow: 1;
    max-width: 13.5em;
  } */
}

@media screen and (max-width: 980px) { 
  /* styles to be applied when the screen width is 980px or less (small desktop)*/
  /* body {
    font-size: 16px;
  }
  header {
    display: none;
  } */
  .top-buttons {
    flex-grow: 1;
    max-width: 13.5em;
  }
}

@media screen and (max-width: 768px) { 
  /* styles to be applied when the screen width is 768px or less (laptop, tablet-portrait) */
  /* body {
    font-size: 14px;
  } */
  #wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
    width: 100%;
  }
#map {
    order: 1;
    width: 100%;
  }
#list-toggle {
  align-items: center;
  justify-content: center;
  margin: 0;
  max-height: 1.5em;
  order: 2;
  width: 100%;
  }
#list-toggle > div {
  width: fit-content;
  height: fit-content;
  transform: rotate(90deg);
  
  }
#list-container {
    max-height: 30%;
    order: 3;
    width: 100%;
  }
#list {
    max-height: 100%;
    width: 100%;
  }
#mta_logo {
    margin: 0;
  }
#mta_logo > a > img {
  
    width: 50%;
    /* left: 0;
    right: 0;
    margin: 0 auto; */
  }
#groups {
  margin-top: 0;
  }
#top-button-bar {

  top: -0.5em;
  left: 0;
  right: 0;
  margin: 1em auto;
  width: 50%;
  max-width: 16em;
}
#search-container {

  max-width: 13.5em;
}
.top-buttons {
  flex-grow: 1;
  justify-content: center;
  max-width: 13.5em;
}
} 

@media screen and (max-width: 480px) { 
  /* styles to be applied when the screen width is 480px or less (mobile -landscape) */
  /* body {
    font-size: 12px;
  } */
#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
    width: 100%;
  }
#map {
    order: 1;
    width: 100%;
  }
#list-toggle {
  align-items: center;
  justify-content: center;
  margin: 0;
  max-height: 1.5em;
  order: 2;
  width: 100%;
  }
#list-toggle > div {
  width: fit-content;
  height: fit-content;
  transform: rotate(90deg);
  
  }
#list-container {
    max-height: 30%;
    order: 3;
    width: 100%;
  }
#list {
    max-height: 100%;
    width: 100%;
  }
#mta_logo {
    margin: 0;
  }
#mta_logo > a > img {
    width: 94%;
  }
#groups {
  margin-top: 0;
  }
#top-button-bar { 
  position: absolute;
  flex-direction: column;
  top: 0.5em;
  left: 0;
  right: 0;
  margin: 1em auto;
  width: 50%;
  max-width: 9em;
  }
.top-buttons {
  flex-grow: 1;
    justify-content: center;
  }
}
#uti-content {
  overflow: auto;
}
@media screen and (max-width: 320px) { 
  /* styles to be applied when the screen width is 320px or less (mobile) */
  /* body {
    font-size: 10px;
  } */

}