@import "node_modules/ol/ol.css";

/* Style reset */
html, body, div, span, applet, object, iframe,
/*h1, h2, h3, h4, h5, h6, */p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */ 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
/* * {
  box-sizing: border-box;
} */
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
} 
.button {
 margin: auto;
}
/* STyles */
html, body {
  margin: 0;
  height: 100vh;
  font-family: Comfortaa;
  color: #8e8d8d;
  overflow: hidden;
}
#wrapper {
  margin:0;
  display: flex;
  width:100%;
  background-color: black;
  height: 100vh;
  line-height: 1.3em;
}
#map {
  width: calc(100% - 385px);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  transition: all 0.5s;
  height: 100vh;
  text-align: center;
}

/* business list styles */
#list {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  height: 100vh;
  width:355px;
  visibility: visible; 
  transition: all 0.5s;
  left: 0px;
  line-height: 1.125em;
}
#mta_logo {
  margin-top: 0.75em;
}
#mta_logo > img {
  width:98%;
} 
#groups {
  overflow-y: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}
span {
  color: #f6921b;
}
.regions {
  font-weight: bold;
  font-size: x-large;
}
.closed {
  display: none;
}
.open {
  display: block;
}
ul {
  margin-top: 0.25em;
  padding-left: 1.75em;
}
li {
  list-style-type: none;
  padding-top: .2em;
  padding-bottom: .2em;
  font-size: medium;
}
a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  color: #8e8d8d;
}
.regions > a > span:hover {
  color:#EC2034;
}
.business {
  color: #8e8d8d;
}
.business:hover {
  color:#f6921b;
}

/* styles for business info pane */
#feature-list {
  display: none;
  padding-left: 10px;
  height: 100vh;
  width:355px;
  visibility: visible; 
  transition: all 0.5s;
  left: 0px;
}
#feature-content {
  display:flex;
  flex-direction: column;
  height: 100vh;
}
#companyIcon {
  display: block;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
}
#feature-content > h1 {
  color: #f6921b;
  text-align: center;
  width: 100%;
}
#attributes {
  width: 100%;
  height: 100%;
  display: inline-block;
  color:#8e8d8d;
  overflow-y: auto;
}
table {
  width: 100%;
  table-layout: fixed;
}
tr {
  width: 100%;
}
th {
  text-align: right;
  text-transform: uppercase;
  vertical-align: top;
  width: 30%;
  padding: 0 1em 0.5em .5em;
  font-size: 0.9em;
}
td {
  display: block;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
  font-size: 0.9em;
}
#website-innerValue {
  color: #EC2034;
  text-decoration: underline;
}
#email-innerValue{
  color: #f6921b;
  /* word-wrap: break-word; */
  word-break: break-all; 
}
#phone-innerValue{
  color: #f6921b;
}
.hidden {
  display: none;
}
.tags {
  color: black;
  background-color:#8e8d8d ;
  border-color: #8e8d8d;
  border-radius: 0.5em;
  border-style: solid;
  padding: 0.2em 0.3em 0.3em 0.3em;
  margin: 0.1em;
  font-size: 1em;
}
/* styles for switching panes */
.close {
  display: block;
  position: absolute;
  color: #f6921b;
  background-color: black;
  border: none;
  top: 8px;
  left: 340px;
  font-size: 30px;
  font-weight: 600;
  text-align: right;
  cursor: pointer;
}
.no-list #list-container {
  display: none;
}   
.no-list #map {
  width: calc(100% - 20px);
}   
#list-toggle {
  display:flex;
  height: auto;
  justify-content: center;
  width:20px;   
  background-color: black; 
}    
#list-toggle > div {
  margin:auto;
  width: 50%;
  color: #EC2034;
  font-size:xx-large;
  cursor: pointer;
}

/* popup styles */
.ol-popup {
  position: absolute;
  color:#8e8d8d;
  background-color: black;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #8e8d8d;
  bottom: 12px;
  left: -50px;
  min-width: 280px;
  box-shadow: 5px 5px 5px  #8e8d8d;
}
.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: black;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: black;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}
.ol-popup-closer:after {
  color:#f6921b;
  content: "✖";
}
#popup-content {
  overflow-y: auto;
  max-height: 300px;
  margin-top: 7px;
  margin-bottom: 0px;
  padding-left: 0px;
}
#popup-content > h2 {
  color:#f6921b;
  margin-top: 4px;
  margin-bottom: 0.5em;
  margin-right: 4px;
}
#popup-content > h5 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-right: 4px;
  font-weight: 575;
}
hr.rounded {
  border-top: 0.15em solid #f6921b;
  border-radius: 0.2em;
}
#popup-website > a {
  text-decoration: underline;
  color: #EC2034;
}
#popup-email > a, #popup-phone > a {
  color: #f6921b;
}

/* Land Inventory Popup Styles */
.landInv {
  background-color: black;
  color: #8e8d8d;
  text-align: left;
}

/* Layer Switcher Styles */
div.ol-unselectable:nth-child(5) {
  top:1.5em;
}
div.ol-unselectable:nth-child(6) {
  border-radius: 5px !important;
  /* padding: 2px 3px 2px 0px !important; */
  background-color: black !important;
}
.layer-switcher button {
  display: block;
  margin: auto;
  background-image: url('https://marktrueman.ca/wp-content/uploads/2022/12/layerSwitcher_blk_sm.png') !important;
  background-position: center center !important;
  background-color: black !important;
  border-radius: 5px;
}
.layer-switcher .panel {
  border-color: black !important;
  background-color: black !important;
  color: #8e8d8d !important;
}
li.group:nth-child(1) > label:nth-child(2) {
  color: #f6921b;
}
li.group:nth-child(2) > label:nth-child(1) {
  color: #f6921b;
}
/* Radio element, when checked */
input[type="radio"]:checked {
  accent-color: #f6921b;
}
/* Checkbox element, when checked */
input[type="checkbox"]:checked {
  accent-color: #f6921b;
}
ul li{
  cursor:pointer;
}

/* *** Filter Styles *** */
.values {
  display: none;
}
#form {
  width: 85%;
  margin: 0 auto;
  padding: 20px;
}
/* Label styles */
label {
  font-size: 1.2em;
  color: #f6921b;
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}
/* Select styles */
select {
  width: 100%;
  color: #8e8d8d;
  background-color: black;
  padding: 12px 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
#value {
  color: #8e8d8d;
  background-color: black;
}
.numberInput {
  margin-bottom: 1em
}
.filter-btn {
  color: black;
  background-color: #8e8d8d;
  border: none;
  border-radius: 4px;
  padding: 0.5em;
  margin: 1em 0;
}
.right-panel-btn {
  position: absolute;
  font-weight: bold;
  color: black;
  font-size: 1em;
  background-color: #f6921b;
  width:1.5em;
  height: 1.5em;
  border: none;
  border-radius: 3px;
}
#filter-button {
  width: fit-content;
  right: 0.9em;
  top: 5.5em;
  background-color: #8e8d8d;
} 
#filter-pane {
  display: none;
  padding-left: 10px;
  height: 100vh;
  width:355px;
  visibility: visible; 
  transition: all 0.5s;
  left: 0px;
  overflow-y: auto;
}
/* splash screen styles */
#utilization {
  padding: 0;
  display: none;
  position: absolute;
  color: black;
  background-color: #8e8d8d;
  top: 50%;
  left: 50%;
  width: 500px;
  height: fit-content;
  overflow-y: auto;
  transform: translate(-50%, -50%);
  border-radius: 4px;
}
#uti-content {
  position:relative;
  padding: 1em;
}
#uti-content > h4 {
  margin: 0 0 10px 0;
  text-align: center;
}
#uti-content > ul {
  list-style-type: decimal;
}
#uti-content > li {
  padding-left: 10px;
}
#uti-closer {
  position: absolute;
  top: 0;
  left: 93%;
  background-color: #8e8d8d;
}
#uti-button {
  right: 0.9em;
  top: 8em;
  color:black;
  background-color: #f6921b;
  background-image: url(https://marktrueman.ca/wp-content/uploads/2023/01/icons8-info-67.png);
  background-size: cover; 
}
/* #uti-button img {
  width: 100%;
  height: auto;
  object-fit: contain;
  
} */
#legend-button {
  right: 0.9em;
  top: 10.5em;
  color:black;
  background-color: #f6921b;
  background-image: url(https://marktrueman.ca/wp-content/uploads/2023/01/250121-200.png);
  background-size: cover; 
}
#legend-wrapper {
  position:absolute;
  right: 0.9em;
  bottom: 3em;
  color: black;
  background-color: #8e8d8d;
  max-width: 7.4em;
  max-height: 20em;
  border-radius: 4px;
}
#legend {
  position: relative;
  padding: 0.7em;
  overflow-y: auto;
}
#legend > h5 {
  line-height: 1.5em;
  margin: 0;
  padding: 10px 0 5px 0;
}
#legend-closer {
  font-size: 20px;
  position: absolute;
  top: -2px;
  left: 75%;
  background-color: #8e8d8d;
}
/* #d2c5253c-2bed-4c8a-8097-1f7fd2502288:checked + .legend-checkbox {
  display: block;
}
#d2c5253c-2bed-4c8a-8097-1f7fd2502288:not(:checked) + .legend-checkbox {
  display: none;
} */
/* Style the scrollbar background */
::-webkit-scrollbar {
  background: black;
}
/* Style the scrollbar handle */
::-webkit-scrollbar-thumb {
  background: #8e8d8d;
}